body {
  margin: 0%;
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: #6f6af7;
  /* display: flex; */
  /* justify-content: space-around; */
  height: 70px;
  margin-top: 0%;
}
.dappr {
  padding-left: 2%;
  height: 4vh;
  width: 20vh;
  padding-top: 2%;
}
p {
  color: #ffffff;
  font-size: 20px;
  word-spacing: 22px;
  display: inline-block;
  padding-left: 8%;
}

#lines {
  height: 4vh;
  width: 8vh;
  margin-left: 15%;
}

input {
  border: 2px solid #ffffff;
  border-radius: 20px 20px;
  width: 250px;
  height: 40px;
  margin-left: 8%;
  padding-left: 2%;
  font-size: 17px;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  position: relative;
}

.non-sticky {
  width: 92%;
}

.sticky-container {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 20vh;
}

#social {
  width: 10vh;
}

textarea {
  background-color: #e5d8ff;
  border: solid #ffffff;
  border-radius: 10px 10px;
  width: 60%;
  height: 350px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  margin-top: 1%;
}

#group {
  height: 380px;
  width: 300px;
  padding-left: 4%;
  padding-right: 1%;
  padding-top: 0%;
  margin-top: 0%;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  margin-top: 10%;
}
.card1 {
  box-shadow: 0 8px 10px 0 grey;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #929dff;
  color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  display: inline-block;
}

.card1:hover {
  box-shadow: 0 16px 16px 0 black;
}
.card2 {
  box-shadow: 0 8px 10px 0 grey;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #734cf2;
  color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  display: inline-block;
}

.card2:hover {
  box-shadow: 0 16px 16px 0 black;
}
.card3 {
  box-shadow: 0 8px 10px 0 grey;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #d288ff;
  color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  display: inline-block;
}

.card3:hover {
  box-shadow: 0 16px 16px 0 black;
}
.card4 {
  box-shadow: 0 8px 10px 0 grey;
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background-color: #000000;
  color: #ffffff;
  padding-left: 4%;
  padding-right: 4%;
  display: inline-block;
}

.card4:hover {
  box-shadow: 0 16px 16px 0 black;
}
#doll {
  height: 10vh;
  width: 20vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 1vh;
  position: fixed;
  bottom: 25%;
  right: 0;
}
.footer {
  background-color: #483eff;
  /* padding-left: 20%;
  padding-right: 20%; */
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid #483eff;
  border-radius: 15px;
  height: 30vw;
  margin-bottom: 10vh;
}

#info {
  border: 2px solid #bce0f6;
  background-color: #bce0f6;
  border-radius: 10px;
  width: 16vw;
  height: 8vh;
  text-align: center;
  padding-top: 2vw;
  font-weight: 600;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 20px;
  margin-bottom: 5%;
}

#bookmarks {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  width: 16vw;
  height: 8vh;
  text-align: center;
  padding-top: 2vw;
  font-weight: 600;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 20px;
  margin-bottom: 5%;
}
#settings {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  width: 16vw;
  height: 8vh;
  text-align: center;
  padding-top: 2vw;
  font-weight: 600;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 20px;
  margin-bottom: 5%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-footer {
  background-color: #ffffff;
  border-radius: 10px;
  width: 40vw;
  height: 26vw;
  margin-top: 4vh;
  padding-left: 3%;
}

h3 {
  padding-left: 5%;
  letter-spacing: 3px;
  word-spacing: 2px;
}

li {
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-bottom: 5%;
}

.next {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  height: 2vh;
  width: 15vh;
  padding-bottom: 3%;
  padding-left: 1%;
  float: right;
  margin-right: 16%;
  margin-top: -12%;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background-color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;

  margin-right: -2.7rem;
}
.search__button {
  border: none;
  background-color: #ffff;
  transition: all 0.2s;
}
.search__button:active {
  transform: translateY(2px);
}
.icon {
  height: 18px;
  fill: #999;
  width: 18px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
